/* body {background-color: #000;} */

@media screen and (orientation:portrait) {
	body {background-color: #ff0000; color: #000; }	
}

@media screen and (orientation:landscape) {
	body {background-color: #000; color: #fff;}
	
}

/* @media screen and (max-width:320px) {
	body {background-color: #ff0000; color: #000; }	
}


@media screen and (min-width: 321px) and (max-width: 480px) {
	body {background-color: #000; color: #fff;}
	
} */	